# Dependency directories
backend/node_modules/
frontend/node_modules/


# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
backend/.cache
.parcel-cache

# Stores VSCode versions used for testing VSCode extensions
.vscode
